[submodule "staking/fixed-rate/lib/forge-std"]
	path = staking/fixed-rate/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-std"]
	branch = v1.3.0
[submodule "staking/lib/openzeppelin-contracts"]
	path = staking/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	branch = v4.8.1
[submodule "security/ctfs/Ethernaut/lib/forge-std"]
	path = security/ctfs/Ethernaut/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "security/ctfs/Ethernaut/lib/openzeppelin-contracts"]
	path = security/ctfs/Ethernaut/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
